
.checkbox{
  width: 100%;
  height: 100%;

  &:hover{
    cursor: pointer;
  }
}

.checked{
  background-color: var(--color-normal-bg);
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 5px #CFD0E3, -2px -2px 5px #FFFFFF;
  border-radius: 5px;
}

.unchecked{
  background-color: var(--color-normal-bg);
  box-shadow: inset 2px 2px 5px #CFD0E3, inset -2px -2px 5px #FFFFFF;
  border-radius: 5px;
}