
.comment-main-container{
  padding: 0.7rem 0rem;
  .profile-commenter-container{
    width: 48px;
    height: 48px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }
  .comment-content-container{

    .comment-card{
      border-radius: 12px;
      background-color: var(--color-third-bg);
      padding: 0.5rem 1rem;

      .editable{
        color: var(--color-text);
        outline: none;
        border-radius: 10px;
      }
      .comment-detail{
        color: var(--color-text);
        border: none;
        background-color: transparent;
        resize: none;
        padding: 0.5rem 1rem;
      }
      .more-menu-button{
        svg{
          width: 20px;
          height: 20px;
        }
      }

    }
    .button-save-comment-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0rem;
      .button-save-comment{
        background-color: var(--color-primary-button);
        color: var(--color-text);
        border-radius: 999px;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        &:hover{
          cursor: pointer;
          background-color: var(--color-blue);
        }
      }
    }
  }
}

.fade-out-comment {
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}