
.comment-main-container{
  padding: 0.7rem 0rem;
  .profile-commenter-container{
    width: 48px;
    height: 48px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }
  .comment-content-container{

    .comment-card{
      box-shadow: 2px 2px 5px #CFD0E3, -2px -2px 5px #FFFFFF;
      border-radius: 15px;
      padding: 0.5rem 1rem;

      .editable{
        box-shadow: inset 2px 2px 5px #CFD0E3, inset -2px -2px 5px #FFFFFF;
        outline: none;
        border-radius: 10px;
      }
      .button-save-comment-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .button-save-comment{
          background-color: var(--color-primary-button);
          color: var(--color-white);
          border: 2px solid #FFFFFF;
          border-radius: 999px;
          width: fit-content;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1rem;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .comment-detail{
        color: var(--color-text);
        border: none;
        background-color: transparent;
        resize: none;
        padding: 0.5rem 1rem;
      }
      .more-menu-button{
        svg{
          width: 20px;
          height: 20px;
        }
      }

    }
  }
}

.fade-out-comment {
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}