
.comment-main-container{
  padding: 0.7rem 0rem;
  .profile-commenter-container{
    width: 48px;
    height: 48px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }
  .comment-content-container{

    .comment-card{
      box-shadow: 2px 2px 5px #CFD0E3, -2px -2px 5px #FFFFFF;
      border-radius: 15px;
      padding: 0.5rem 1rem;
    }
    .more-menu-button{
      svg{
        width: 20px;
        height: 20px;
      }
    }
    .comment-detail{
      color: var(--color-text);
      border: none;
      background-color: var(--color-normal-bg);
      resize: none;
    }
  }
}