
.feed-post-container{
  background-color: var(--color-main-bg);
  padding-bottom: 3rem;
  width: 100%;

  .posts-container{
    display: flexbox;

    .post-container{
      padding: 2rem 0rem;
    }
  }
}