
.feed-post-container{
  background-color: var(--color-purple-6);
  padding: 0rem 1rem 3rem 1rem ;
  width: 100%;
  min-height: 76vh;

  .posts-container{
    width: 100%;
    max-width: 700px;
    display: flexbox;

    .text-loading{
      color: var(--color-white);
    }
    .text-end-of-feed{
      color: var(--color-white);
    }
    .post-container{
      padding: 0rem 0rem;
    }
  }
}