
.feed-post-container{
  background-color: var(--color-cb-blue-2);
  padding: 0rem 1rem 3rem 1rem ;
  width: 100%;
  min-height: 60vh;

  .posts-container{
    width: 100%;
    max-width: 700px;
    display: flexbox;

    .post-container{
      padding: 0rem 0rem;
    }
  }
}