
.filter-post{
  width: 100%;
  height: auto;
  background-color: var(--color-main-bg);
  padding-top: 4rem;
  padding-bottom: 4rem;

  .filter-container{
    min-width: 934px;
    width: max-content;
    max-height: 390px;
    height: max-content;

    .filter-card{
      width: 100%;
      height: 100%;
      background-color: var(--color-second-bg);
      //border: 2px solid #FFFFFF;
      padding: 43px 41px;
      border-radius: 12px;
      //box-shadow: 15px 10px 15px #c1c2d8, -1px -3px 6px 1px #FFFFFF;

      .checkboxes-container{
        padding-top: 2.5rem;

        .checkbox-row{
          padding: 1rem 1rem;
          padding-left: 0px;
        }

        .checkbox-container{
          width: 30px;
          height: 30px;
        }

        .sub-check{
          padding-left: 2rem;
        }
      }

      .dropdown-container{
        width: 227px;
        height: 58px;
        margin: 2.5rem 1rem 1.5rem 0rem;
      }

      .something-container{
        width: 234px;
        height: 216px;
        margin: 2.5rem 0rem 1rem 1rem;
      }

      .switch-container{
        margin: 1rem 1rem 1rem 0rem;
        width: 227px;
        height: 137px;

        .row{
          margin: 1rem 1rem;
        }
      }
    }

  }
}