.filter-search{
  width: 100%;
  height: auto;
  background-color: var(--color-purple-6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  .filter-search-container{
    width: 100%;
    max-width: 700px;
    background-color: var(--color-purple-1);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    .radio-filter-button{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      background-color: var(--color-purple-2);
      color: var(--color-white);
      border-radius: 999px;
      &:hover{
        cursor: pointer;
      }
    }
    .active{
      background-color: var(--color-yellow-1);
    }
  }
}