
.follow-button{
  border-radius: 999px;
  background-color: var(--color-third-bg);
  padding: 0.5rem 1rem;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    fill: var(--color-white);
  }
  &:hover{
    cursor: pointer;
  }
}
.follow-active{
  background-color: var(--color-blue);
}
.follow-button-disable{
  &:hover{
    cursor: default;
  }
}