
.label-after-delete-post-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-green-1);
  .trash-icon-container{
    svg{
      fill: var(--color-green-1);
    }
    
  }
}

.fade-out-label{
  opacity: 0;
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}