
.more-menu-component-container{
  width: fit-content;

  .more-menu-button{
    width: fit-content;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    svg{
      width: 20px;
      height: 20px;
      fill: var(--color-white);
    }
  }

  .more-menu-button-disable{
    &:hover{
      cursor: default;
    }
  }

  .expand-menu{
    position: absolute;
    background-color: var(--color-gray-1);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    width: max-content;
    height: fit-content;
    right: 0;
    top: 120%;
    border-radius: 12px;
    padding: 0.5rem;
    z-index: 1;

    .option-row {
      display: flex-start;
      align-items: center;
      padding: 0.5rem 0.5rem;
      color: var(--color-white);
      background-color: var(--color-gray-1);
      border-radius: 8px;

      &:hover{
        cursor: pointer;
        background-color: var(--color-gray-2);
      }
      .more-menu-option{
        svg{
          fill: var(--color-white);
        }
      }
    }
  }
}