
.more-menu-component-container{
  width: fit-content;
  position: relative;

  .more-menu-button{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .expand-menu{
    position: absolute;
    background-color: var(--color-normal-bg);
    width: max-content;
    height: fit-content;
    right: 0;
    top: 35px;
    height: fit-content;
    border: 2px solid #FFFFFF;
    box-shadow: 15px 10px 50px #D1D2E7, -2px -5px 10px 5px #FFFFFF;
    border-radius: 10px;

    .option-row {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--color-white);

        &:hover{
          cursor: pointer;
          background-color: var(--color-white);
        }
    }
  }
}