
.user-notification-container{
  width: 68px;
  height: 68px;
  background: #F0F0F8;
  border: 2px solid #FFFFFF;
  box-shadow: 15px 10px 50px #D1D2E7, -2px -5px 8px 2px #FFFFFF;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}