
.user-notification-container{
  width: 100%;
  height: 100%;
  background: var(--color-third-bg);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      fill: var(--color-red);
      width: 70%;
      height: 70%;
    }
  }
}