
.user-notification-container{
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-purple-3);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  .count-unread-noti{
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn-noti{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    border: none;
    .bell-icon{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        fill: var(--color-white);
        width: 21px;
        height: 21px;
      }
    }
    
    ::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
      height: auto; /* Height of the scrollbar */
    }
    
    ::-webkit-scrollbar-track {
      background: #f1f1f1; /* Color of the scrollbar track */
      border-radius: 10px; /* Border radius of the scrollbar track */
    }
    
    ::-webkit-scrollbar-thumb {
      background: var(--color-purple-3); /* Color of the scrollbar thumb */
      border-radius: 4px; /* Border radius of the scrollbar thumb */
    }
    .expand-menu{
      position: absolute;
      background-color: var(--color-gray-1);
      box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
      width: fit-content;
      max-width: 500px;
      height: fit-content;
      max-height: 400px;
      @media only screen and (max-width: 394px){
        max-width: 270px;
      }
      @media only screen and (max-width: 575px) and (min-width: 540px) {
        max-width: 400px;
      }
      @media only screen and (max-width: 540px) and (min-width: 496px) {
        max-width: 370px;
      }
      @media only screen and (max-width: 495px) and (min-width: 464px) {
        max-width: 350px;
      }
      @media only screen and (max-width: 464px) and (min-width: 445px) {
        max-width: 330px;
      }
      @media only screen and (max-width: 444px) and (min-width: 395px) {
        max-width: 300px;
      }
      overflow-y: scroll;
      right: 0;
      top: 120%;
      border-radius: 12px;
      padding: 0.5rem;

      .no-noti{
        width: max-content;
        max-width: 500px;
        padding: 0.5rem;
      }
      .option-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0.5rem;
        color: var(--color-white);
        width: max-content;
        border-bottom: 1px solid var(--color-gray-2);
        @media only screen and (max-width: 576px) {
          max-width: fit-content;
        }
        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
        .dot-icon{
          width: 10px;
          height: 10px;
          svg{
            fill: var(--color-yellow-1);
            width: 100%;
            height: 100%;
          }
        }
        .action-type-container{
          color: var(--color-yellow-1);
        }
        .noti-post-detail{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          max-width: 200px;
          height: 100%;
          @media only screen and (max-width: 576px) {
            max-width: 250px;
          }
        }
        .time-container{
          color: var(--color-purple-4)
        }
      }
    }
  }
}