
.dropdown{
  width: 100%;
  height: 100%;

  .dropdown-button{
    width: 100%;
    height: 100%;
    background-color: var(--color-normal-bg);
    border: none;
    box-shadow: 2px 2px 5px #CFD0E3, -2px -2px 5px #FFFFFF;
    border-radius: 999px;
    display: flex;
    align-items: center;
    appearance: none;
    padding: 9px 26px;
    background: url(../assets/svg/chevron-down.svg) ;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;

    &:hover{
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }

    .Chevron-down-icon{
      margin-left: 80%;
    }
  }

  select option{
    background-color: var(--color-normal-bg);
  }

  
}