
.owner-new-post-container{
  background-color: var(--color-purple-6);
  width: 100%;

  .posts-container{
    width: 100%;
    max-width: 700px;
    display: flexbox;

    .post-container{
      padding: 0rem 0rem;
    }
  }
}