
.post-card{
  @media only screen and (max-width: 800px){
    padding: 2rem;
  }
  @media only screen and (max-width: 550px){
    padding: 1rem;
  }
  width: 100%;
  height: fit-content;
  //border-radius: 12px;
  padding: 2.5rem ;
  background-color: var(--color-white);
  margin: 0rem 0rem 3rem 0rem;

  .profile-container{
    width: 50px;
    height: 50px;
    .round-button{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        border-radius: 999px;
        object-fit: cover;
      }
    }
  }
  .time-container{
    color: var(--color-dark-gray-2);
  }
  .rec-in-post-container{
    width: 100%;
    height: 50px;
  }
  .found-movie-container-ddf{
    width: 100%;
    height: fit-content;
    padding: 1rem 0rem 0rem 0rem;
  }

  .post-content-container{
    padding: 1rem;
    height: fit-content;

    .post-detail{
      width: 100%;
      height: max-content;
      background-color: transparent;
      border: none;
      resize: none;
      max-height: 200px;
      color: var(--color-black);
    }
  }

  .info-container{
    width: 100%;
    padding: 0rem 1rem;
    .upvote-label-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-dark-gray-2);
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-dark-gray);
      }
    }
    .comment-button-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-dark-gray-2);
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-dark-gray);
      }
    }
    .follow-label-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-dark-gray-2);
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-dark-gray);
      }
    }
  }

  .option-container{
    border-bottom: 1px solid var(--color-dark-gray);
    border-top: 1px solid var(--color-dark-gray);
    padding: 0.7rem 0.5rem;
    .upvote-button-container{
      width: fit-content;
      height: 40px;
    }
    .follow-button-container{
      width: fit-content;
      height: 40px;
    }
    .follow-movie-container{
      width: fit-content;
      height: 40px;
    }
  }

  .comments-section-container{
    padding: 1rem 1rem;
    height: fit-content;

    .comment-row{

      .commenter-profile{
        width: 40px;
        height: 40px;

        svg{
          width: 38px;
          height: 38px;
        }

        img{
          width: 100%;
          height: 100%;
          border-radius: 999px;
          object-fit: cover;
        }
      }

      .comment-input{
        width: 100%;
        height: 100%;

        .comment-box{
          width: 100%;
          height: fit-content;
          min-height: 53px;
          //border-radius: 20px;
          border: none;
          padding: 0.9rem 1.2rem;
          background-color: var(--color-light-gray);
          color: var(--color-black);
          resize: none;
          &::placeholder{
            color: var(--color-text-placeholder);
          }
          &:focus{
            outline: none;
          }
        }
      }
    }

    .send-button{
      background-color: var(--color-orange);
      color: var(--color-white);
      border-radius: 999px;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;

      &:hover{
        cursor: pointer;
        opacity: 0.8;
        // background-color: var(--color-light-green);
        // color: var(--color-text);
      }

      svg{
        fill: var(--color-white);
      }
    }
  }
}

.fade-out-post {
  opacity: 0;
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}