
.post-card{
  @media only screen and (max-width: 800px){
    padding: 2rem;
  }
  @media only screen and (max-width: 550px){
    padding: 1rem;
  }
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  padding: 2.5rem ;
  background-color: var(--color-second-bg);
  margin: 3rem 0rem;

  .profile-container{
    width: 50px;
    height: 50px;

    img{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }
  .found-movie-container-ddf{
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0rem;
  }

  .post-content-container{
    padding: 2rem 1rem;
    height: fit-content;

    .post-detail{
      width: 100%;
      height: max-content;
      background-color: transparent;
      border: none;
      resize: none;
      max-height: 200px;
      color: var(--color-white);
    }
  }

  .info-container{
    width: 100%;
    .upvote-label-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-yellow);
      }
    }
    .comment-button-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-yellow);
      }
    }
    .follow-label-container{
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        width: 20px;
        height: 20px;
        fill: var(--color-yellow);
      }
    }
  }

  .option-container{
    border-bottom: 1px solid var(--color-third-bg);
    border-top: 1px solid var(--color-third-bg);
    padding: 0.7rem 0rem;
    .upvote-button-container{
      width: fit-content;
      height: 40px;
      svg{
        fill: var(--color-white);
        width: 20px;
        height: 20px;
      }
    }
    .follow-button-container{
      width: fit-content;
      height: 40px;
    }
    .follow-movie-container{
      width: fit-content;
      height: 40px;
    }
  }

  .comments-section-container{
    padding: 1rem 1rem;
    height: fit-content;

    .comment-row{

      .commenter-profile{
        width: 40px;
        height: 40px;

        svg{
          width: 38px;
          height: 38px;
        }

        img{
          width: 100%;
          height: 100%;
          border-radius: 999px;
          object-fit: cover;
        }
      }

      .comment-input{
        width: 100%;
        height: 100%;

        .comment-box{
          width: 100%;
          height: fit-content;
          min-height: 53px;
          border-radius: 20px;
          border: none;
          padding: 0.9rem 1.2rem;
          background-color: var(--color-third-bg);
          color: var(--color-text);
          resize: none;
          &::placeholder{
            color: var(--color-text-placeholder);
          }
          &:focus{
            outline: none;
          }
        }
      }
    }

    .send-button{
      background-color: var(--color-primary-button);
      color: var(--color-text);
      border-radius: 999px;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;

      &:hover{
        cursor: pointer;
        background-color: var(--color-blue);
        color: var(--color-text);
      }

      svg{
        fill: var(--color-white);
      }
    }
  }
}

.fade-out-post {
  opacity: 0;
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}