
.post-card{
  width: 934px;
  height: fit-content;
  border-radius: 50px;
  box-shadow: 15px 10px 15px #c1c2d8, -1px -3px 6px 1px #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 43px 41px;
  background-color: var(--color-normal-bg);

  .profile-container{
    width: 68px;
    height: 68px;

    img{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }

  .post-content-container{
    padding: 2rem 1rem;
    height: fit-content;

    .post-detail{
      width: 100%;
      height: max-content;
      background-color: transparent;
      border: none;
      resize: none;
      max-height: 200px;
    }
  }

  .option-container{

    .like-button-container{
      width: 46px;
      height: 46px;
    }

    .comment-button-container{
      width: fit-content;
      height: 46px;
    }

    .follow-button-container{
      width: 118px;
      height: 46px;
    }
  }

  .comments-section-container{
    padding: 2rem 1rem;
    height: fit-content;

    .comment-row{

      .commenter-profile{
        width: 53px;
        height: 53px;

        svg{
          width: 38px;
          height: 38px;
        }

        img{
          width: 100%;
          height: 100%;
          border-radius: 999px;
          object-fit: cover;
        }
      }

      .comment-input{
        width: 100%;
        height: 100%;

        .comment-box{
          width: 100%;
          height: fit-content;
          min-height: 53px;
          box-shadow: inset 2px 2px 5px #CFD0E3, inset -2px -2px 5px #FFFFFF;
          border-radius: 20px;
          border: none;
          padding: 0.9rem 1.2rem;
          background-color: var(--color-normal-bg);
          resize: none;

          &:focus{
            outline: none;
          }
        }
      }
    }

    .send-button{
      background-color: var(--color-normal-bg);
      border: 2px solid #FFFFFF;
      border-radius: 999px;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;

      &:hover{
        cursor: pointer;
        background-color: var(--color-primary-button);
        color: var(--color-white);
        
        svg{
          fill: var(--color-white);
        }
      }

      svg{
        fill: var(--color-text);
      }
    }
  }
}

.fade-out-post {
  opacity: 0;
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: linear;
  transition-delay: 200ms; 
}