
.user-profile-main-container{
  position: relative;
  width: 100%;
  height: 100%;

    .user-profile-container{
      width: 100%;
      height: 100%;
      background: var(--color-cb-gray-4);
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0%;

      &:hover{
        cursor: pointer;
        outline: 4px solid var(--color-cb-blue-2);
      }

      img{
        width: 100%;
        height: 100%;
        border-radius: 999px;
        object-fit: cover;
      }

      svg{
        max-width: 40px;
        max-height: 40px;
        fill: var(--color-cb-gray-4);
      }
    }

    .disable{
      width: 100%;
      height: 100%;
      background: #F0F0F8;
      border: none;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0%;

      &:hover{
        cursor: default;
      }

      img{
        width: 100%;
        height: 100%;
        border-radius: 999px;
        object-fit: cover;
      }
    }

  .expand-profile-menu{
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    width: max-content;
    height: fit-content;
    right: 0;
    top: 120%;
    height: fit-content;
    border-radius: 10px;
    padding: 0.5rem;

    .option-row {
      display: flex-start;
      align-items: center;
      padding: 0.5rem 1rem;

        &:hover{
          cursor: pointer;
          background-color: var(--color-cb-gray-2);
          border-radius: 7px;
        }
    }
  }
}
