

.rec-container{
  width: 100%;
  height: fit-content;
  .btn-rec{
    text-align: end;
    width: 100%;
    height: fit-content;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-purple-1);
    color: var(--color-yellow-1);
    border-radius: 7px;
    &:hover{
      cursor: pointer;
    }
    svg{
      fill: var(--color-yellow-1);
    }
  }
  .expand-movie-list-container{
    width: 100%;
    height: fit-content;
    color: var(--color-white);
    padding: 0rem 1rem 1rem 1rem;
    .one-row{
      padding: 0.25rem 0rem;
      .rec-movie-name{
        background-color: var(--color-purple-2);
        border-radius: 999px;
        padding: 0.25rem 1rem;
      }
      .btn-confirm{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-yellow-2);
        color: var(--color-white);
        border-radius: 999px;
        padding: 0.25rem 0rem;
        &:hover{
          cursor: pointer;
          background-color: var(--color-yellow-1);
        }
      }
    }
    .btn-cancel-all{
      background-color: var(--color-gray-1);
      color: var(--color-white);
      width: 100%;
      text-align: center;
      padding: 0.25rem 0rem;
      border-radius: 999px;
      &:hover{
        cursor: pointer;
        opacity: 0.9;
      }
    }
  } 
  .no-rec-movie-container{
    background-color: var(--color-purple-2);
    color: var(--color-white);
    border-radius: 999px;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    .refresh-button{
      background-color: var(--color-yellow-1);
      color: var(--color-white);
      border-radius: 999px;
      padding: 0.25rem 1rem;
      &:hover{
        cursor: pointer;
      }
    }
  }

}