
.rectangle-card{
  width: 100%;
  height: 100%;
  background-color: var(--color-normal-bg);
  border: 2px solid #FFFFFF;
  box-shadow: 15px 10px 50px #D1D2E7, -2px -5px 8px 5px #FFFFFF;
  border-radius: 50px;
  padding: 43px 41px;
}