
.search-box-container{
  width: 100%;
  height: 100%;

  .search-icon{
    @media only screen and (max-width: 380px){
      
    }
    position: absolute;
    padding-left: 0.7rem;
    padding-top: 0.5rem;
    svg{
      width: 20px;
      height: 20px;
      fill: var(--color-text-placeholder);
    }
  }

  .search-box{
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: var(--color-third-bg);
    border: none;
    padding-left: 2.5rem;
    padding-right: 1rem;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: var(--color-text-placeholder);
    }
  }
}