
.search-box-container{
  width: 100%;
  height: 100%;

  .search-icon{
    @media only screen and (max-width: 380px){
      
    }
    position: absolute;
    padding-left: 0.7rem;
    padding-top: 0.5rem;
    svg{
      width: 20px;
      height: 20px;
      fill: var(--color-dark-gray-2);
    }
  }

  .search-box{
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: var(--color-light-gray);
    border: none;
    padding-left: 2.5rem;
    padding-right: 1rem;
    color: var(--color-dark-gray-2);
    &:focus{
      outline-color: var(--color-orange);
      outline-width: 1px;
      color: var(--color-black);
      background-color: var(--color-white);
    }
    &::placeholder{
      color: var(--color-dark-gray-2);
    }
  }
}