
.search-box-container{
  width: 100%;
  height: 100%;

  .search-icon{
    position: absolute;
    padding-left: 1rem;
    padding-top: 0.7rem;
    svg{
      fill: var(--color-text-placeholder);
    }
  }

  .search-box{
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: var(--color-third-bg);
    border: none;
    padding-left: 3.5rem;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: var(--color-text-placeholder);
    }
  }
}