
.search-bar-container{
  width: fit-content;
  position: relative;
  .search-box-container{
    width: 100%;
    height: 100%;
  
    .search-icon{
      position: absolute;
      padding-left: 1rem;
      padding-top: 0.7rem;
    }
  
    .search-box{
      width: 100%;
      height: 100%;
      border-radius: 999px;
      background: var(--color-second-bg);
      border: none;
      padding-left: 3.5rem;
  
      &:focus{
        outline: none;
      }
    }
  }
  .menu-list{
    position: absolute;
    background-color: var(--color-second-bg);
    width: 100%;
    height: fit-content;
    right: 0;
    top: 55px;
    height: fit-content;
    border: 2px solid #FFFFFF;
    border-radius: 10px;

    .option-row {
      display: flex-start;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--color-white);

        &:hover{
          cursor: pointer;
          background-color: var(--color-white);
        }
    }
  }
}