
.search-bar{
  width: 100%;
  height: 100%;

  .search-icon{
    position: absolute;
    padding-left: 1rem;
    padding-top: 0.7rem;
  }

  .search-box{
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: var(--color-normal-bg);
    box-shadow: inset 2px 2px 5px #CFD0E3, inset -2px -2px 5px #FFFFFF;
    border: none;
    padding-left: 3.5rem;

    &:focus{
      outline: none;
    }
  }
}