
.custom-toggle-switch{
  .form-check-input{
    @media only screen and (max-width: 500px){
      width: 50px;
      height: 25px;
    }
    width: 70px;
    height: 30px;
    box-shadow: none;
    border: none;
    background-color: var(--color-gray);
    &:checked{
      background-color: var(--color-green);
      border: none;
      outline: none;
    }
  }
}
