
  .top-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-purple-6);
    padding: 0rem;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    .color-bar{
      width: 100%;
      height: 1px;
      background: var(--color-purple-2);
      padding: 0rem;
      margin: 0rem;
    }
    .content-container{
      width: 100%;
      margin: 0px;
      padding: 0.6rem 0rem;
      .logo-container{
        width: 100%;
        height: 100%;
        padding-left: 12%;
        display: flex;
        align-items: center;
        .logo{
          width: 100%;
          height: 100%;
          svg{
            width: 100%;
            height: 100%;
            fill: var(--color-fin-white);
          }
          &:hover{
            cursor: pointer;
          }
        }
        
      }
      .search-box-container-qaz{
        width: 100%;
        height: 40px;
        max-width: 600px;
        position: relative;

        .menu-main-list{
          background-color: var(--color-purple-2);
          box-shadow: 0px 0px 10px var(--color-black);
          //color: var(--color-black);
          width: 100%;
          max-width: 600px;
          min-width: 200px;
          max-height: fit-content;
          position: absolute;
          right: 0;
          top: 125%;
          border-radius: 10px;
          // padding: 0.5rem;
          .menu-list{
            background-color: var(--color-purple-2);
            //box-shadow: 0px 0px 10px var(--color-main-bg);
            color: var(--color-white);
            border-bottom: 1px solid var(--color-gray-2);
            width: 100%;
            max-width: 600px;
            min-width: 200px;
            height: fit-content;
            max-height: fit-content;
            // position: absolute;
            // right: 0;
            // top: 110%;
            border-radius: 10px 10px 0px 0px;
            padding: 0.5rem;
            overflow-y: hidden;
        
            .option-row {
              display: flex-start;
              align-items: center;
              padding: 0.5rem 1.25rem;
              border-radius: 8px;
                &:hover{
                  cursor: pointer;
                  background-color: var(--color-purple-1);
                  color: var(--color-white);
                }
                .row-tag-container{
                  padding: 0.2rem;
                  background-color: var(--color-yellow-1);
                  border-radius: 8px;
                  color: var(--color-white);
                  svg{
                    max-width: 16px;
                    max-height: 16px;
                    fill: var(--color-white);
                  } 
                }
  
            }
          }
          .menu-default-search-by-string-container{
            padding: 0.5rem;
            min-height: 35px;
            .menu-default-search-by-string{
              height: fit-content;
              color: var(--color-white);
              padding: 0.5rem;
              border-radius: 10px;
              &:hover{
                cursor: pointer;
                background-color: var(--color-purple-1);
              }
              svg{
                width: 21px;
                height: 21px;
                fill: var(--color-gray-2);
              }
            }
          }
        }

      }
      .register-row{
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 760px){
          display: none;
        }
        .register-btn-container{
          width:  100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-reg{
            width: 100%;
            height: fit-content;
            color: var(--color-purple-3);
            border-radius: 999px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 10%;
            text-align: center;
            white-space: nowrap;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .sign-btn-container{
          width:  100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          .btn-sign{
            width: 100%;
            height: fit-content;
            color: var(--color-white);
            border-radius: 999px;
            background-color: var(--color-purple-3);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 10%;
            text-align: center;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .top-nav-profile-container{
        width: 40px;
        height: 40px;
      }
      .noti-container{
        width: 40px;
        height: 40px;
      }
      .navbar-more-menu-container{
        @media only screen and (min-width: 760px){
          display: none;
        }
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }


/* iphone xr*/
// @media only screen and (max-width: 420px) { 
//   .logo-container{
//     width: 150px;
//     height: 30px;
//   }
//  }



