
  .top-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-second-bg);
    padding: 1rem 0rem;
    width: 100%;
    border-bottom: 1px solid var(--color-third-bg);
    .content-container{
      width: 100%;
      margin: 0px;
      .logo-container{
        width: 100%;
        height: 100%;
        padding-left: 12%;
        display: flex;
        align-items: center;
        .logo{
          width: 100%;
          height: 100%;
          svg{
            width: 100%;
            height: 100%;
            fill: var(--color-white);
          }
          &:hover{
            cursor: pointer;
          }
        }
        
      }
      .search-box-container-qaz{
        max-width: 934px;
        width: 100%;
        height: 40px;
        max-width: 600px;
      }
      .register-row{
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 760px){
          display: none;
        }
        .register-btn-container{
          width:  100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-reg{
            width: 100%;
            height: fit-content;
            color: var(--color-text);
            border-radius: 999px;
            background-color: var(--color-third-bg);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 10%;
            text-align: center;
            white-space: nowrap;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .sign-btn-container{
          width:  100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          .btn-sign{
            width: 100%;
            height: fit-content;
            color: var(--color-text);
            border-radius: 999px;
            background-color: var(--color-primary-button);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 10%;
            text-align: center;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .top-nav-profile-container{
        width: 40px;
        height: 40px;
      }
      .noti-container{
        width: 40px;
        height: 40px;
      }
      .navbar-more-menu-container{
        @media only screen and (min-width: 760px){
          display: none;
        }
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }


/* iphone xr*/
// @media only screen and (max-width: 420px) { 
//   .logo-container{
//     width: 150px;
//     height: 30px;
//   }
//  }



