
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Lato-Black';
  src: url(../../assets/fonts/lato/Lato-Black.ttf) ;
}

@font-face {
  font-family: 'Lato-Black';
  src: url(../../assets/fonts/lato/Lato-Bold.ttf) ;
}

@font-face {
  font-family: 'Lato-Light';
  src: url(../../assets/fonts/lato/Lato-Light.ttf) ;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(../../assets/fonts/lato/Lato-Regular.ttf) ;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(../../assets/fonts/lato/Lato-Thin.ttf) ;
}

@font-face {
  font-family: 'NotoSansThai-Black';
  src: url(../../assets/fonts/notoSansThai/NotoSansThai-Black.ttf) ;
}

@font-face {
  font-family: 'NotoSansThai-Bold';
  src: url(../../assets/fonts/notoSansThai/NotoSansThai-Bold.ttf) ;
}

@font-face {
  font-family: 'NotoSansThai-Light';
  src: url(../../assets/fonts/notoSansThai/NotoSansThai-Light.ttf) ;
}

@font-face {
  font-family: 'NotoSansThai-Regular';
  src: url(../../assets/fonts/notoSansThai/NotoSansThai-Regular.ttf) ;
}

@font-face {
  font-family: 'NotoSansThai-Thin';
  src: url(../../assets/fonts/notoSansThai/NotoSansThai-Thin.ttf) ;
}

:root{
  --color-white: #FFFFFF;
  --color-black: #000000;
  // Theme dark
  --color-purple-1: #24223a;
  --color-purple-2: #38364c;
  --color-purple-3: #6152ff;
  --color-purple-4: #aeabe6;
  --color-purple-5: #eae9f9;
  --color-purple-6: #07041f;
  --color-purple-7: #0c0924;
  --color-gray-1: #474553;
  --color-gray-2: #b0aebc;
  --color-gray-3: #35344a;
  --color-gray-4:  #818181;
  --color-gray-5: #f0f2f5;
  --color-yellow-1: #ffad09;
  --color-yellow-2: #fcbf28;
  --color-green-1: #00a656;
  // Theme cool blue
  --color-cb-blue-1: #5b7cfd;
  --color-cb-blue-2: #e7eef8;
  --color-cb-blue-3: #6cc9c2;
  --color-cb-blue-4: #c8ebed;
  --color-cb-green-1: #23c97e;
  --color-cb-gray-1: #f5f6f8;
  --color-cb-gray-2: #f0f2f5;
  --color-cb-gray-3: #818181;
  --color-cb-gray-4: #c7c7c7;
  --color-cb-gray-5: #e4e6e9;
  --color-cb-gray-6: #e3e4e5;
  --color-cb-purple-1: #8391d7;
  --color-cb-purple-2: #cedcff;
  --color-cb-orange-1: #fa976a;
  --color-cb-orange-2: #fde4bd;
  --color-cb-red-1: #ff6270;
  --color-cb-pink-1: #da9eda;
  --color-cb-pink-2: #f3e3f6;
  // Theme final
  --color-fin-white: #ffffff;
  --color-fin-black: #000000;
  --color-fin-purple-1: #7927b3;
  --color-fin-purple-2: #c15aec;
  --color-fin-purple-3: #df5dfc;
  --color-fin-purple-4: #941a9f;
  --color-fin-purple-5: #b238bc;
  --color-fin-green-1: #2be11e;
  --color-fin-yellow-1: #fdd94b;
  --color-fin-dark-purple-1: #120d21;
  --color-fin-dark-purple-2: #12082d;
  --color-fin-dark-purple-3: #1c1632;
  --color-fin-dark-purple-4: #322d44;
  --color-fin-gray-1: #3d3a4c;
  --color-fin-gray-2: #636071;
  --outer-shadow: 
  0 0 0.1vw 0.1vw #e0f7fa,
  0 0 0.4vw 0.2vw #c15aec,
  0 0 1vw 0.1vw #df5dfc;

  font-size: 16px;
}

.text-color{
  color: #000000;
}

.text-color-placeholder{
  color: var(--color-text-placeholder);
}

.text-title{
  font-family: Lato-Bold, NotoSansThai-Bold;
  font-size: 32px;
}

.text-small{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: 13px;
  //font-size: clamp(10px, 2vw, 14px);
}

.text-normal{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: 15px;
  //font-size: clamp(13px, 2vw, 15px);
}

.text-normal-responsive{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: clamp(13px, 1.5vw, 15px);
}

.text-medium{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: 17px;
}

.text-large{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: 20px;
}

.text-small-bold{
  font-family: Lato-Bold, NotoSansThai-Bold;
  font-size: 13px;
}

.text-normal-bold{
  font-family: Lato-Bold, NotoSansThai-Bold;
  font-size: 15px;
  //font-size:clamp(10px, 1vw, 16px);
}

.text-medium-bold{
  font-family: Lato-Bold, NotoSansThai-Bold;
  font-size: 17px;
}

.text-large-bold{
  font-family: Lato-Bold, NotoSansThai-Bold;
  font-size: clamp(18px, 2vw, 20px);
}

.text-placeholder{
  font-family: Lato-Regular, NotoSansThai-Regular;
  font-size: clamp(13px, 2vw, 15px);
}



.medium-round-button{
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-color: var(--color-second-bg);
  box-shadow: 15px 10px 50px #D1D2E7, -2px -5px 8px 5px #FFFFFF;
  padding: 14px 41px;
  border: 2px solid var(--color-white);

  &:hover{
    cursor: pointer;
  }
}

.text-box{
  padding: 0.7rem 1rem;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-gray-5);
  &::placeholder{
    color: var(--color-gray-4);
  }
}



