
.create-post-modal{

  .modal-dialog{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0rem 1rem;
    max-width: 600px;

    .modal-content{
      background-color: transparent;
      width: 100%;

      .modal-body{
        border-radius: 12px;
        background-color: var(--color-second-bg);
        border: 1px solid var(--color-third-bg);
        padding: 1rem;
        width: 100%;

        .content-container{
          width: 100%;

          .header-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .header-label{
              width: fit-content;
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0rem 4rem;
              color: var(--color-text);
            }
            .x-button-container{
              width: 43px;
              height: 43px;
              position: absolute;
              right: 0;

              .x-icon{
                width: 100%;
                height: 100%;
                background-color: var(--color-third-bg);
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                  cursor: pointer;
                  background-color: var(--color-red);
                }
              }
              svg{
                fill: var(--color-white)
              }
            }
          }

          .body-container{
            width: 100%;
            padding-top: 1rem;

            .create-post-profile-container{
              width: 40px;
              height: 40px;
            }

            .post-detail-container{
              padding: 1.5rem 1rem;

              .post-detail-input{
                border: none;
                min-height: 150px;
                max-height: 400px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                overflow: visible;
                resize: none;

                &:focus{
                  outline: none;
                }

              }
            }
            .search-bar-container-sdd{
              width: 100%;
              height: 40px;
              padding: 0rem 1rem;
            }
            .tags-container{
              padding: 0rem 1rem;
            }
            .button-create-container{
              padding: 0rem 1rem;
              .button-create-post{
                margin-top: 1rem;
                background-color: var(--color-primary-button);
                color: var(--color-text);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.7rem 0rem;
                border-radius: 999px;

                &:hover{
                  cursor: pointer;
                }

                &:active{
                  opacity: 0.8;
                }
              }
            }

          }
        }
      }
    }
  }
}