
.edit-post-modal{

  .modal-dialog{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0rem 1rem;
    max-width: 600px;

    .modal-content{
      background-color: transparent;
      width: 100%;

      .modal-body{
        border-radius: 12px;
        background-color: var(--color-white);
        padding: 1rem;
        width: 100%;

        .content-container{
          width: 100%;

          .header-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .header-label{
              width: fit-content;
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.5rem 4rem;
              color: var(--color-black);
            }
            .x-button-container{
              width: 38px;
              height: 38px;
              position: absolute;
              right: 0;

              .x-icon{
                width: 100%;
                height: 100%;
                background-color: var(--color-white);
                border: 2px solid var(--color-gray-4);
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                  cursor: pointer;
                  border: 2px solid var(--color-gray-1);
                }
              }
              svg{
                fill: var(--color-black)
              }
            }
          }

          .body-container{
            width: 100%;
            padding-top: 1rem;

            .create-post-profile-container{
              width: 45px;
              height: 45px;
            }

            .description-container{
              .descript-text{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0rem 0.5rem;
                color: var(--color-gray-4);
              }
              svg{
                width: 16px;
                height: 16px;
                fill: var(--color-gray-4);
              }
            }

            .post-detail-container{
              padding: 1.5rem 1rem;

              .post-detail-input{
                border: none;
                min-height: 150px;
                max-height: 400px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                overflow: visible;
                resize: none;

                &:focus{
                  outline: none;
                }

              }
            }
            .search-bar-container-sdd{
              width: 100%;
              height: 40px;
              padding: 0rem 1rem;
            }
            .tags-container{
              padding: 0rem 1rem;
              .tag-container{
                background-color: var(--color-yellow-1);
                color: var(--color-white);
              }
            }
            .button-create-container{
              padding: 0rem 1rem;
              .button-create-post{
                margin-top: 1rem;
                background-color: var(--color-purple-3);
                color: var(--color-white);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.7rem 0rem;
                border-radius: 999px;

                &:hover{
                  cursor: pointer;
                }

                &:active{
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}