
.reg-modal{

  .modal-dialog{
    width: fit-content;
    display: flex;
    justify-content: center;
    
    .modal-content{
      background-color: transparent;
      width: fit-content;

      .modal-body{
        background-color: var(--color-second-bg);
        border-radius: 12px;
        padding: 0px;
        width: fit-content;
        border: 1px solid var(--color-third-bg);

        .content-container{
          padding: 39px 38px;
          width: fit-content;

          .header-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
  
            .header-label{
              width: fit-content;
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0rem 4rem;
              color: var(--color-text);
            }
  
            .x-button-container{
              width: 43px;
              height: 43px;
              position: absolute;
              right: 0;

              .x-icon{
                width: 100%;
                height: 100%;
                background-color: var(--color-third-bg);
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover{
                  cursor: pointer;
                  background-color: var(--color-primary-button);
                }
              }

              svg{
                fill: var(--color-text)
              }

              &:hover{
                svg{
                  fill: var(--color-white);
                }
              }
            }
          }

          .body-container{
            width: 594px;
            padding-top: 1rem;

            .row{
              height: 41px;
              padding: 1rem 1.25rem;
              height: fit-content;

              input, .button-create{
                width: 100%;
                border: none;
                border-radius: 999px;
                color: var(--color-text);
  
                &:focus{
                  outline: none;
                }
              }

              .button-create{
                background-color: var(--color-primary-button);
                color: var(--color-text);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.7rem 0rem;

                &:hover{
                  cursor: pointer;
                }

                &:active{
                  opacity: 0.8;
                }
              }

              .invalid{
                border: solid 2px var(--color-red);
              }
            }

            .invalid-message{
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--color-red);
            }

            .success-message{
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--color-green);
            }
          }
        }
      }
    }
  }
}